body {
  background: #eee;
  font-family: sans-serif;
  margin: 16px;
  padding: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 4px auto;
}

.title {
  background: #e3f4ff;
  margin-bottom: -4px;
  border: 4px solid white;
  padding: 16px;
}

.content {
  background: #e3f4ff;
  margin-bottom: -4px;
  border: 4px solid white;
  padding: 16px;
}

.button-container {
  background: #e3f4ff;
  margin: 0px;
  border: 4px solid white;
  padding: 16px;
  text-align: center;
}

button {
  background: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #eee;
}